<div class="container-fluid" *ngIf="sampleForm" [formGroup]="sampleForm">
    <div class="panel">
      <div class="panel-body">
        <h4>How to create Form and populate nested form data?</h4>
  </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <p-accordion>
            <p-accordionTab header="General Information" [selected]="true">
              <div class="panel-body" formGroupName="generalInformation">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" placeholder="details" formControlName="teamName">
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="">Id</label>
                        <input type="text" class="form-control" placeholder="details" formControlName="teamId">
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="">Country</label>
                        <input type="text" class="form-control" placeholder="details" formControlName="country">
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Country Level Assessment" [selected]="true">
                <div class="panel-body">
                  <div class="col-md-12 padding-left-0 padding-right-0">
                    <p-table [value]="sampleForm?.value.countryLevelAssessment.teamAssessment" [paginator]="false" [rows]="8"
                      [rowsPerPageOptions]="[8,10,20]" [responsive]=true scrollHeight="300px" sortMode="multiple">
                      <p-header>Team Assessment</p-header>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Team Name</th>
                          <th>Assessment</th>
                          <th>Rating</th>
      
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                        <tr>
                          <td><button type="button" class="btn btn-link" title="{{data.teamName}}">{{data.teamName}}</button>
                          </td>
                          <td>
                            <<span title="{{data.assessment}}">{{data.assessment}}</span>
                          </td>
                          <td><span title="{{data.rating}}">{{data.rating}}</span></td>
                        </tr>
                      </ng-template>
      
                    </p-table>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="col-md-12 padding-left-0 padding-right-0">
                    <p-table [value]="sampleForm?.value.countryLevelAssessment.personalAssessment" [paginator]="false"
                      [rows]="8" [rowsPerPageOptions]="[8,10,20]" [responsive]=true scrollHeight="300px" sortMode="multiple">
                      <p-header>Personal Assessment</p-header>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Person</th>
                          <th>Assessment</th>
                          <th>Rating</th>
      
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                        <tr>
                          <td><button type="button" class="btn btn-link"
                              title="{{data.personName}}">{{data.personName}}</button></td>
                          <td>
                            <<span title="{{data.assessment}}">{{data.assessment}}</span>
                          </td>
                          <td><span title="{{data.rating}}">{{data.rating}}</span></td>
                        </tr>
                      </ng-template>
      
                    </p-table>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>