#about{
	background:#eee ;
	padding: 40px 15px;
}
#about a{
	color:#0059b2;
	font-size: 18px;

}
#about .about{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
#about h3{
	color:#333;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	margin:0 0 10px 0;
}
#about p{
	line-height: 2;
	font-size:13px;
}
.jumbotron{
    background-color: gray;
    color:white;
    margin-bottom: 0px;
}
.jumbotron h1 {
		font-size: 30px;
}
.jumbotron h4 {
	font-size: 16px;
}
