<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <div *ngIf="data!== undefined">
        Case Id : {{data.id}}
      </div>
      <p-accordion>
        <p-accordionTab header="Activity Details" [selected]="true">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 1</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 2</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 3</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                      <label for="">detail 4</label>
                      <input type="text" class="form-control" placeholder="details">
                  </div>
                </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Activity Details" [selected]="true">
            <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 1</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 2</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 3</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                      <div class="form-group">
                          <label for="">detail 4</label>
                          <input type="text" class="form-control" placeholder="details">
                      </div>
                    </div>
                </div>
              </div>
        </p-accordionTab>
        <p-accordionTab header="Activity Details" [selected]="true">
            <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 1</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 2</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="">detail 3</label>
                        <input type="text" class="form-control" placeholder="details">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                      <div class="form-group">
                          <label for="">detail 4</label>
                          <input type="text" class="form-control" placeholder="details">
                      </div>
                    </div>
                </div>
              </div>
        </p-accordionTab>
        <p-accordionTab header="Activity Details" [selected]="true">
            <div class="panel-body">
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 1</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 2</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="">detail 3</label>
                    <input type="text" class="form-control" placeholder="details">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                      <label for="">detail 4</label>
                      <input type="text" class="form-control" placeholder="details">
                  </div>
                </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
