
<div id="case">
    <div class="container">
      <div class="row" *ngFor="let i of num">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="assets/img/case1.png" alt="">
            <div class="caption">
              <h4>We are all created special with different talents</h4>
              <p>God has a plan for everyone and we are all an individual member of the body of Christ. You are a masterpiece as you grow more and more as a Christian you will truly see how special and unique God created you.Jeremiah 29:11:"For I know the plans I have for you,"declares the LORD, “plans to prosper you and not to harm you, plans to give you hope and a future."</p>
            </div>
          </div>

        </div>
        <div class=" col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="assets/img/case2.png" alt="">
            <div class="caption">
              <h4>We are all created special with different talents</h4>
              <p>God has a plan for everyone and we are all an individual member of the body of Christ. You are a masterpiece as you grow more and more as a Christian you will truly see how special and unique God created you.Jeremiah 29:11:"For I know the plans I have for you,"declares the LORD, “plans to prosper you and not to harm you, plans to give you hope and a future."</p>
            </div>
          </div>

        </div>
        <div class=" col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="assets/img/case3.png" alt="">
            <div class="caption">
              <h4>We are all created special with different talents</h4>
              <p>God has a plan for everyone and we are all an individual member of the body of Christ. You are a masterpiece as you grow more and more as a Christian you will truly see how special and unique God created you.Jeremiah 29:11:"For I know the plans I have for you,"declares the LORD, “plans to prosper you and not to harm you, plans to give you hope and a future."</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
